.api_healthcheck {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

    &.ok {
        background-color: #79dd9d;

        &.secured {
            border: solid 1px #0066feff;
        }
    }
    &.ko {
        background-color: #f15656;
    }
}
