.events {
    display: flex;
    flex-direction: column;

    ul {
        padding-inline-start: 0;

        li:not(.event__add-event) {
            /* padding-inline-start: 40px; */
        }
    }

    .event {
        /* list-style-type: "📅";
        list-style-position: inside; */
        margin-top: 10px;
        /* margin-bottom: 5px; */

        .event-container {
            display: flex;
            justify-content: space-between;
        }
    }

    .event__add-event {
        left: 0;
        margin-top: 10px;
        width: 100%;
    }
}
