<div class="events">
    <ul>
        <li *ngIf="!events?.length">No events for {{ dayDescriptor }}</li>

        <li *ngFor="let event of eventsShown" class="event">
            <div class="event-container">
                <span class="event__title">
                    {{ event.title }}
                </span>

                <span class="event__remove">
                    <snt-remove-event-dialog *ngIf="allowRemoveEvent" [eventId]="event.id"></snt-remove-event-dialog>
                </span>
            </div>
        </li>
        <!-- TODO: Add popup with all events -->
        <li *ngIf="showEventOverflow">
            <div class="tooltip"><em>And more...</em>
                <div class="top">
                    <p *ngFor="let event of eventsExtra">{{ event.title }}</p>
                    <i></i>
                </div>
            </div>

        </li>

        <!-- <li class="btn"></li> -->
        <li class="event__add-event">
            <snt-add-event-dialog *ngIf="allowAddEvent"></snt-add-event-dialog>
            <!-- <button class="btn btn-sm" role="button" (click)="openAddEventDialog()">
                <i class="fa-solid fa-plus"></i><span>Add event</span>
            </button> -->
        </li>
    </ul>
</div>

