$card-bg: #fff;

.container {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* padding: 2px 16px; */

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .content {
        display: flex;
        flex-direction: column;
        /* height: 300px; */
        padding: 15px 30px;
        flex-grow: 1;
        position: relative;
        background-color: $card-bg;

        .date {
            display: flex;
            flex-direction: row;
            /* padding: 15px 30px; */
            align-items: center;
            justify-content: space-around;

            .date__month {
                /* flex-basis: 33%; */
                /* display: flex;
                flex-direction: row; */
                order: 2;
            }

            .date__day {
                display: flex;
                flex-direction: column;
                order: 3;
                /* flex-basis: 66%; */
            }
        }

        .separator {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            border-top: 1px solid #bbb;
        }
    }
}

.previous, .next {
    /* display: none; */
}
